	<!-- HERO UNIT -->
	<div id="hero-unit" class="hero-unit">
		<div class="hero-content text-center">
			<div class="container">
				<div class="row">
					<div class="col-lg-7 col-lg-offset-5">
						<div id="slidecaption" class="slide-caption">
							<div class="hero-text">
								<h2 class="hero-heading">CAMPUS VIEW <span class="name"></span></h2>
								<div data-looper="go" data-interval="3000" class="looper slide down">
									<div class="looper-inner">
										<div class="item animated"><p>HISTORIC APARTMENTS</p></div>
									</div>
								</div>
							</div>
						</div>
						<div class="hero-buttons">
							<a href="#about" id="btn-about" class="btn btn-info btn-lg"><i class="fa fa-arrow-circle-o-down"></i> Now Renting!</a>
							<a href="#contact" id="btn-contact" class="btn btn-primary btn-lg"><i class="fa fa-phone-square"></i> GET IN TOUCH</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END HERO UNIT -->