<!DOCTYPE html>
<html>
<head>
  <title>Campus View Historic Apartments | Apartment rentals in Fergus Falls, MN.</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
