<!DOCTYPE html>
<html>
<head>
  <title>Charactor apartment units for rent in Fergus Falls, MN. Campus View Apartments | Eff | 1 BR | 2 BR | 3 BR |</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
